@import "tailwindcss";


@custom-variant dark (&:where(.dark, .dark *));

@theme {
    /* Colors */
    --color-brand-600: #df6951;
    --color-accent-500: #6246e5;
    --color-yellow: #f0bb1f;
    --color-orange: #f15a2b;
    --color-blue: #006380;

    --color-ink: #181e4b;
    --color-muted: #5e6282;
    --color-text-2: #84829a;

    --color-surface: #f7f7f7;
    --color-pale-yellow: #fff1da;
    --color-line: #e5e5ea;

    /* Fonts */
    --font-display: "Volkhov", serif;
    --font-body: "Poppins",serif;

    /* Radius */
    --radius-card: 1rem;
}
 @import url('https://fonts.googleapis.com/css2?family=Volkhov:ital,wght@0,400;0,700;1,400&family=Yesteryear&family=Poppins:wght@400;500;600;700&display=swap');
    
    body { font-family: 'Poppins', sans-serif; }
    .font-volkhov { font-family: 'Volkhov', serif; }
    .font-script { font-family: 'Yesteryear', cursive; }

    @keyframes spinSlow {
      from { transform: rotate(0deg); }
      to { transform: rotate(360deg); }
    }
    .animate-spin-slow {
      animation: spinSlow 20s linear infinite;
    }